<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Add new Post</title>
        <link rel="stylesheet" href="/style.css"/>
    </head>
    <body>
        <form method="post" action="/posts">
            <input placeholder="write user name" name="username" type="text"/>
            <br/>
            <input placeholder="copy the url of img" name="img"/>
            <br/>
            <textarea placeholder="write about your self" name="content"></textarea>
            <br/>
            <input placeholder="enter your like count" name="likes" type="number"/>
            <button class="add">Submit</button>
        </form>
    </body>
</html>